.App {
  text-align: center;
}

header {
  display: block;
}

.App-header {
  display: grid;
  background-color: white;
  height: 60px;
  width: 100%;
  color: #446544;
  text-align: center;
  border-bottom: 1px solid #446544;
}

.App-header h1 {
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.filter-options {
  display: grid;
  justify-items: center;
  justify-content: center;	
  grid-template-columns: 150px 200px;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  background-color: #5c815c;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

@media screen and (max-width: 600px) {
  div.filter-options {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  div.filter-options h2 {
    margin: 10px 20px;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(380px,1fr));
  grid-gap: 0;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 10px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 8px;
  min-height: spx;
  text-align: left;
  border-radius: 5px;
  width: 358px;
  cursor: pointer;
}
#restaurants-list .restaurant-img {
  display: block;
  height: 90px;
  width: 80px;
}
#restaurants-list .card-content {
  padding: 10px;
}

#restaurants-list .card-content:hover {
  background-color: rgba(106, 129, 106, 0.2);
}

#restaurants-list .detail-container {
  display: inline-block;
  width: 235px;
  vertical-align: top;
}

#restaurants-list .img-container {
  display: inline-block;
  margin-right: 10px;
}

#restaurants-list li h2 {
  color: #0a8435;
  font-family: Arial,sans-serif;
  font-size: 15px;
  line-height: 16px;;
  margin: 0 0 5px; 
}

#restaurants-list li h3 {
  margin: 5px 0 5px;
  font-size: 14px;
}

#restaurants-list span {
  color: #8c8c8c;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}

@media (max-width: 376px) 
{
  #restaurants-list {
    background: #0a8435;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  }
}

@media (max-width: 321px) 
{
  #restaurants-list {
    background: red;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  }

  #restaurants-list li{
    width: 300px;
  }

  #restaurants-list .detail-container {
    display: inline-block;
    width: 180px;
    vertical-align: top;
  }
}

/* ====================== Veg-Modal ====================== */

.veg-modal .title {
  text-align: center;
  font-family: 'Raleway';
  color: #0a8435;
}

.veg-modal .detail-container {
  display: block;
}

.veg-modal .detail-container span {
  display: block;
}