.App {
  text-align: center;
}

header {
  display: block;
}

.App-header {
  display: grid;
  background-color: white;
  height: 60px;
  width: 100%;
  color: #222;
  text-align: center;
  border-bottom: 1px solid #222;
}

.App-header h1 {
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.filter-options {
  display: grid;
  justify-items: center;
  justify-content: center;	
  grid-template-columns: 150px 200px;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  background-color: #5c815c;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

@media screen and (max-width: 600px) {
  div.filter-options {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  div.filter-options h2 {
    margin: 10px 20px;
  }
}
